[Unit]
Description=${SERVICE} for ${JAWS_DEPLOYMENT_NAME}
ConditionFileIsExecutable=${JAWS_BIN_DIR}/${SERVICE}
After=network.target
ConditionHost=ln010.jgi
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/bash ${JAWS_BIN_DIR}/${SERVICE}
Restart=always

[Install]
WantedBy=multi-user.target