# This section used as an environment file template for OCI runtime
ENV_OVERRIDE_PREFIX="ENV__"
ENV__DB_host=${JAWS_DB_HOST}
ENV__DB_password=${JAWS_DB_PW}
ENV__DB_port=${JAWS_DB_PORT}
ENV__RMQ_password=${JAWS_RMQ_PW}
ENV__RMQ_host=${JAWS_RMQ_HOST}
ENV__RMQ_port=${JAWS_RMQ_PORT}
ENV__GLOBUS_client_secret=${JAWS_GLOBUS_CLIENT_SECRET}
