.root {
  width: 100%;
  /* max-width: 56ch; */
  background-color: white;
}

.inline {
  display: inline
}    

.orange {
  color: white;
  background-color: #ff8400fe
}

.purple {
  color: white;
  background-color: #e63ce0;
}

.blue {
  color: white;
  background-color: #0c39eddd;
}

.gray {
  color: white;
  background-color: #777;
}

