beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
configparser==5.0.2
deepdiff==5.5.0
idna==3.2
importlib-metadata==4.6.1
nested-dict==1.61
ordered-set==4.0.2
pytz==2021.1
requests==2.26.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
