beautifulsoup4==4.8.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==4.0.2
cryptography==2.8
globus-cli==1.11.0
globus-sdk==1.8.0
idna==2.8
jmespath==0.9.4
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.4.5
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
