# The script should be sourced by /bin/sh or similar
mkdir -p /global/scratch/users/jaws/condor/central_log/log
mkdir -p /global/scratch/users/jaws/condor/central_log/spool
mkdir -p /global/scratch/users/jaws/condor/central_log/excute

CONDOR_CONFIG="/global/home/groups-sw/lr_jgicloud/condor/condor_central.config"
export CONDOR_CONFIG
PATH="/global/home/groups-sw/lr_jgicloud/condor/condor/bin:/global/home/groups-sw/lr_jgicloud/condor/condor/sbin:$PATH"
export PATH
if [ "X" != "X${PYTHONPATH-}" ]; then
  PYTHONPATH="/global/home/groups-sw/lr_jgicloud/condor/condor/lib/python:$PYTHONPATH"
else
  PYTHONPATH="/global/home/groups-sw/lr_jgicloud/condor/condor/lib/python"
fi
export PYTHONPATH
[1007] jaws@lrc-services.lbl.gov:/global/home/groups-sw/lr_jgicloud/condor> vi condor_central.config
[1008] jaws@lrc-services.lbl.gov:/global/home/groups-sw/lr_jgicloud/condor> cat condor_central.config
MASTER_NAME = jaws
SCHEDD_NAME = jaws
CONDOR_HOST = 10.0.2.6, 128.3.7.13
COLLECTOR_HOST = $(CONDOR_HOST):9618

USE_SHARED_PORT = True
SHARED_PORT_ARGS = -p 9618

SHARED_PORT_PORT = 9618

UID_DOMAIN = lbl.gov
DAEMON_LIST = MASTER, COLLECTOR, NEGOTIATOR, SCHEDD


LOCAL_DIR = /global/scratch/users/jaws/condor/central_log
RELEASE_DIR = /global/home/groups-sw/lr_jgicloud/condor/condor


START = True
SUSPEND = False
PREEMPT = False
KILL = False

# Machine resource settings
NUM_SLOTS = 6

PRIVATE_NETWORK_NAME = $(FULL_HOSTNAME)
TCP_FORWARDING_HOST = lrc-services.lbl.gov

#use SECURITY : HOST_BASED
SEC_PASSWORD_FILE = /global/home/groups-sw/lr_jgicloud/condor/condor_password
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS

ALLOW_WRITE = 128.3.7.13, *.jgi0, 10.0.2.6, $(FULL_HOSTNAME), *
ALLOW_WRITE = 128.3.7.13, *.jgi0, 10.0.2.6, $(FULL_HOSTNAME), *

ALLOW_ADVERTISE_STARTD = $(ALLOW_WRITE)
ALLOW_ADVERTISE_SCHEDD = $(ALLOW_WRITE)
ALLOW_WRITE_STARTD = $(ALLOW_WRITE)
ALLOW_READ_STARTD = $(ALLOW_WRITE)
ALLOW_WRITE_SCHEDD = $(ALLOW_WRITE)
ALLOW_READ_SCHEDD = $(ALLOW_WRITE)
ALLOW_ADVERTISE_MASTER = $(ALLOW_WRITE)

NEGOTIATOR.ALLOW_READ = $(ALLOW_READ)
NEGOTIATOR.ALLOW_WRITE = $(ALLOW_WRITE)

ALLOW_NEGOTIATOR = *

QUEUE_SUPER_USERS = root, condor, condor_pool, jaws

COLLECTOR_DEBUG = D_FULLDEBUG
NEGOTIATOR_DEBUG = D_FULLDEBUG
MATCH_DEBUG = D_FULLDEBUG
SCHEDD_DEBUG = D_FULLDEBUG

#CONDOR_ADMIN = suls634@emsl.pnnl.gov
CONDOR_ADMIN = ssul@lbl.gov
MAIL = /usr/bin/mail

JAVA = /global/software/sl-7.x86_64/modules/langs/python/3.6/bin/java
JAVA_MAXHEAP_ARGUMENT = -Xmx1024m
