
.Menu{
  width: 500px;
  background-color: #dfdfdf;
}

.tableBox{
  margin-top: 10px;
}

.Page {
  margin: 20px;
}

div.infoBox {
  border :1px solid green;
  border-radius: 4px;
  background-color: #e6ffee;
  display: block;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  justify-content: center;
}

spin.infoText{
  font-size: 16px;
  color: green;
  margin-left: 5px;
}

.infoCheckIcon{
  color: green;
}
