.CircleRed, .CircleGray, .CircleGreen {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: solid 1px black;
  /* margin: 4px; */
}

.CircleRed {
  background-color: red;
}

.CircleGreen {
  background-color: greenyellow;
}

.CircleGray{
  background-color: gray;
}

.Box {
  padding: 8px;
}

.Header{
  padding-left: 8px;
}