attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
clickclick==1.2.2
configparser==4.0.2
connexion==2.5.1
cryptography==2.8
dnspython==1.16.0
Flask==1.1.1
flask-marshmallow==0.10.1
Flask-SQLAlchemy==2.4.1
globus-sdk==1.8.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.3.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.21.0
mysql-connector-python==8.0.19
openapi-spec-validator==0.2.8
protobuf==3.6.1
pycparser==2.19
PyJWT==1.7.1
pyrsistent==0.15.7
PyYAML==5.3
requests==2.22.0
six==1.14.0
SQLAlchemy==1.3.12
swagger-ui-bundle==0.0.6
urllib3==1.25.7
Werkzeug==0.16.0
