.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 12px;
  padding: 8px;
  border: solid 1px #bbb;
}

.FlexContainer > * {
    margin: 2px;
    cursor: pointer;
}

.ButtonLow, .ButtonHigh{
  border-radius: 8px;
  border: solid 2px #eee;
}

.ButtonHigh {
  background-color: rgb(158, 153, 153);
  border: solid 2px #333;
}

.ButtonHigh:hover {
  /* background-color: rgb(155, 231, 14); */
  border: solid 2px red;
}

.ButtonLow {
  border: solid 2px #bbb;
}

.ButtonLow:hover {
  /* background-color: rgb(15, 209, 235); */
  background-color: #ddd;
  border: solid 2px orange;
}