[flake8]
filename = *.py,*.pyx,*.pxd,*.pxi
[run]
omit =
    site/jaws_site/run_daemon.py
    site/jaws_site/transfer_daemon.py
    site/jaws_site/perf_metrics_daemon.py
    site/jaws_site/cli.py
    site/jaws_site/rpc_es.py
    site/tests/*.json
