.red {
	color: red;
}

.lightbrown {
	color: #deb887;
}

.chocolate {
	color: #d2691e;
}

.darkolivegreen {
	color: #556b2f;
}

.lavendar {
	color: #FFF0F5;
}

.lightblue {
  color:#448ecf;
}

.listsize {
	font-size: 18px;
}

.textborder {
	border:orange; 
	border-width:2px; 
	border-style:solid;
	padding: 5px;
}
