AMQPStorm==2.10.4
cffi==1.14.6
click==7.1.2
cryptography==3.4.7
importlib-metadata==4.6.1
jaws_rpc
mysql-connector-python==8.0.26
pamqp==2.3.0
pika==1.2.0
protobuf==3.17.3
psutil==5.8.0
pycparser==2.20
shortuuid==1.0.1
six==1.16.0
typing-extensions==3.10.0.0
zipp==3.5.0
