##
# Copy to .env and modify 
# 
# prod (SPIN 1) hostname - https://jaws.jgi-psf.org
# prod (SPIN 2) hostname - https://jawsdashboard.jgi.doe.gov
##

# for access to JGI keycloak SSO 
REACT_APP_KEYCLOAK_REALM=jgi-web
REACT_APP_KEYCLOAK_URL=https://auth.jgi.lbl.gov/auth
REACT_APP_KEYCLOAK_CLIENT_ID=jgi-jdp

## run on HTTPS
HTTPS=true

## dev hostname:port
HOST=jawsd.jgi.doe.gov
PORT=3003

## dev server ssl cert and key
SSL_CRT_FILE=$HOME/.ssh/ssl/server.crt 
SSL_KEY_FILE=$HOME/.ssh/ssl/server.key 

SKIP_PREFLIGHT_CHECK=true

## for query dev tool
#REACT_APP_QUERY_DEV=true

## for redux dev tool 
#REACT_APP_REDUX_DEV=true
