
.notificationBadge {
  background-color: "#f00";
  cursor: pointer;
}

.notificationBadge:hover > .notificationAvatar {
  color: #1D9FBB;
}

.notificationAvatar{
  width: 30px;
  height: 30px;
  color: #737373;
  cursor: pointer;
}
