/* shared css within entire app */
.MainPanel {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px; 
  width: auto;
  max-height: 700px;
  overflow-y: scroll;
}

.Chart {
  border: solid 1px #ccc;
  width: auto;
  height: auto;
  padding: 12px;
  background-color: blue;
}