.root {
  width: 100%;
  /* max-width: 56ch; */
  background-color: white;
}

.inline {
  display: inline
}    

.orange {
  color: white;
  background-color: #ff8400fe
}

.purple {
  color: white;
  background-color: #e63ce0;
}

.blue {
  color: white;
  background-color: #0c39eddd;
}

.gray {
  color: white;
  background-color: #777;
}

.IdentityList {
  display: flex;
  width: 100%;
  padding-left: 20px;
}

/* .IdentityList>*{
  border: solid 1px blue;
} */


.IdentityItem {
  margin: 8px;
  border: solid 1px #bbb;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.LargeAvatar {
  width: 48px;
  height: 48px;
  border: solid 1px #ddd;
  background-color: #eee;
  /* opacity: 0.8; */
}

.AccountSummary {
  padding: 14px 4px 0px 4px;
  font-size: 16px;
}

.AccountSummary>*{
  margin: 0px 4px 0px 4px;
  /* border: solid 1px blue; */
}

.Switch {
  width: auto;
  height: 32px;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 0px 10px 0px 10px;
  color: #555;
}

.AccountSummaryExpansionPanel>*{
  margin-top: 0px;
  margin-bottom: 0px;
}