
.FormControl {
    margin: 4px;
    /* min-width: 120px; */
    width: auto;
}

.SelectEmpty {
    margin-top: 6px;
}

.Master {
  /* border: solid 1px red; */
  width: 100%
}

.Button{
  padding-top: 12px !important;
}

.SearchVal{
  /* border: solid 1px #eee; */
  padding-top: 8px !important;
  border-radius: 4px;
}

.Item{
  /* border: solid 1px #ddd; */
}

