CONDOR_HOST = lrc-services.lbl.gov
COLLECTOR_HOST = $(CONDOR_HOST)?sock=collector

FILESYSTEM_DOMAIN = $(HOSTNAME)
UID_DOMAIN = $(HOSTNAME)

USE_CCB = True
CCB_ADDRESS = $(CONDOR_HOST)

DAEMON_LIST = MASTER, STARTD, SHARED_PORT

QUEUE_ALL_USERS_TRUSTED = True

START = True
SUSPEND = False
PREEMPT = False
KILL = False

use feature:PartitionableSlot

USE_SHARED_PORT = True

LOCAL_DIR = /global/scratch/users/jaws/condor/worker_log/$(HOSTNAME)
RELEASE_DIR = /global/home/groups-sw/lr_jgicloud/condor/condor

SEC_PASSWORD_FILE = /global/home/groups-sw/lr_jgicloud/condor/condor_password
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS

ALLOW_WRITE = 128.3.7.13, *.jgi0, 10.0.2.6, $(FULL_HOSTNAME), *
ALLOW_WRITE = 128.3.7.13, *.jgi0, 10.0.2.6, $(FULL_HOSTNAME), *

SCHEDD_DEBUG = D_FULLDEBUG
COLLECTOR_DEBUG = D_FULLDEBUG
NEGOTIATOR_DEBUG = D_FULLDEBUG
MATCH_DEBUG = D_FULLDEBUG
SCHEDD_DEBUG = D_FULLDEBUG

CONDOR_ADMIN = ssul@lbl.gov
MAIL = /usr/bin/mail

JAVA = /global/software/sl-7.x86_64/modules/langs/python/3.6/bin/java
JAVA_MAXHEAP_ARGUMENT = -Xmx1024m
