.Footer{
  height: 20px;
  width: 100%;
  padding: 4px 16px;
  bottom: 0;
  position: fixed;
  top: auto;
  background-color: rgb(233, 233, 233);
  border-top: solid 1px #ddd;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

