.Main {
  margin: 12px;
  width: 100%;
}

.Table {
  min-width: 250px;
}

.Header{
  /* font-size: large; */
  font-weight: 700;
  background-color: #eee;
}

.Title{
  margin: 14px 8px 8px 8px;
  font-size: 24px;
  font-weight: bold;
}

