CONDOR_HOST = twf1.emsl.pnl.gov:9618
COLLECTOR_HOST = $(CONDOR_HOST)?sock=collector

FILESYSTEM_DOMAIN = $(HOSTNAME)
UID_DOMAIN = $(HOSTNAME)

USE_CCB = True
CCB_ADDRESS = $(CONDOR_HOST)

DAEMON_LIST = MASTER, STARTD, SHARED_PORT

QUEUE_ALL_USERS_TRUSTED = True

START = True
SUSPEND = False
PREEMPT = False
KILL = False

use feature:PartitionableSlot

USE_SHARED_PORT = True

LOCAL_DIR = /home/svc-jtm-user/condor/worker_log/$(HOSTNAME)
RELEASE_DIR = /tahoma/mscjgi/condor/condor

#use SECURITY : HOST_BASED
SEC_PASSWORD_FILE = /tahoma/mscjgi/condor/condor_password
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS

ALLOW_READ = 130.20.*, 172.*
ALLOW_WRITE = 130.20.*, 172.*

SCHEDD_DEBUG = D_FULLDEBUG
COLLECTOR_DEBUG = D_FULLDEBUG
NEGOTIATOR_DEBUG = D_FULLDEBUG
MATCH_DEBUG = D_FULLDEBUG
SCHEDD_DEBUG = D_FULLDEBUG

#CONDOR_ADMIN = suls634@emsl.pnnl.gov
CONDOR_ADMIN = ssul@lbl.gov
MAIL = /usr/bin/mail
