MASTER_NAME = svc-jtm-user
SCHEDD_NAME = svc-jtm-user
CONDOR_HOST = twf1.emsl.pnl.gov
COLLECTOR_HOST = $(CONDOR_HOST):9618

USE_SHARED_PORT = True
SHARED_PORT_ARGS = -p 9618

SHARED_PORT_PORT = 9618

UID_DOMAIN = svc-jtm-user-condor
DAEMON_LIST = MASTER, COLLECTOR, NEGOTIATOR, SCHEDD


LOCAL_DIR = /home/svc-jtm-user/condor/central_log
RELEASE_DIR = /tahoma/mscjgi/condor/condor


START = True
SUSPEND = False
PREEMPT = False
KILL = False

# Machine resource settings
NUM_SLOTS = 6

PRIVATE_NETWORK_NAME = $(FULL_HOSTNAME)
TCP_FORWARDING_HOST = twf1.emsl.pnl.gov

#use SECURITY : HOST_BASED
SEC_PASSWORD_FILE = /tahoma/mscjgi/condor/condor_password
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS

ALLOW_READ = 130.20.*, 172.*, $(FULL_HOSTNAME), twf1.emsl.pnl.gov, *
ALLOW_WRITE = 130.20.*, 172.*, $(FULL_HOSTNAME), twf1.emsl.pnl.gov, *

ALLOW_ADVERTISE_STARTD = $(ALLOW_WRITE)
ALLOW_ADVERTISE_SCHEDD = $(ALLOW_WRITE)
ALLOW_WRITE_STARTD = $(ALLOW_WRITE)
ALLOW_READ_STARTD = $(ALLOW_WRITE)
ALLOW_WRITE_SCHEDD = $(ALLOW_WRITE)
ALLOW_READ_SCHEDD = $(ALLOW_WRITE)
ALLOW_ADVERTISE_MASTER = $(ALLOW_WRITE)

NEGOTIATOR.ALLOW_READ = $(ALLOW_READ)
NEGOTIATOR.ALLOW_WRITE = $(ALLOW_WRITE)

ALLOW_NEGOTIATOR = *

QUEUE_SUPER_USERS = root, condor, condor_pool, svc-jtm-user

COLLECTOR_DEBUG = D_FULLDEBUG
NEGOTIATOR_DEBUG = D_FULLDEBUG
MATCH_DEBUG = D_FULLDEBUG
SCHEDD_DEBUG = D_FULLDEBUG

#CONDOR_ADMIN = suls634@emsl.pnnl.gov
CONDOR_ADMIN = ssul@lbl.gov
MAIL = /usr/bin/mail