.CheckBoxBlock {
  margin-left: 10%;
  padding-left: 5%;
  padding-right: 10%;
  margin-top: 5%;
  border-radius: 4px;
}
.CheckBoxLabel{
    font-size: 17px;
    font-family: monospace;
}
.Resize{
  font-size: 18px;
  font-family: monospace;
}

.Button{
  float: right;
  margin-left: 5%;
  margin-top: 7%;
  padding: 3% 5% 3% 5%;
}

.FlexBox{
  display: flex;
  flex-wrap: wrap;
}
.TextFieldBox1{
  flex: 2;
  min-width: 10ch;
}
.TextFieldBox2{
  flex: 2;
  flex-grow: unset;
}
.TextFieldBox3{
  flex: 2;
  flex-grow: unset;
}
.SwitchBox{
  flex: 1;
}
.ButtonBox{
  flex: 1;
}