.App {
  width: auto;
  height: 100%;
  /* padding: 0px 14px;
  margin: 0px 14px; */
  /* border: solid 1px red; */
}

.Content{
  height: auto;
  border: solid 1px;
  overflow-y: scroll;
  max-height: 300px;
}