.Svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.Axis path,
.Axis line {
  fill: none;
  stroke: #000;
}

path.domain {
  stroke: none;
}

.Y .Tick line {
  stroke: #ddd;
}

/* .Chart {
  border: solid 1px #ccc;
  width: auto;
  height: auto;
  padding: 12px;
} */

.ToolTip {
  position: absolute;
  display: none;
  min-width: 30px;
  /* height: auto; */
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 2px;
  text-align: center;
}