/* FlowChar d3 styles */
.conceptG text{
  pointer-events: none;
}

marker{
  fill: #333;
}

g.conceptG circle{
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 1px;
  /* opacity: 0.5; */
}

g.conceptG:hover circle{
  fill: rgb(200, 238, 241);
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
  cursor: default;
}

path.link:hover{
  stroke: rgb(94, 196, 204);
}

path.dragline {
  stroke: #999;
  stroke-width: 1;
  stroke-dasharray: 4;
}

g.connect-node circle{
  fill: #BEFFFF;
  stroke: red;
  stroke-width: 4;
}

path.link.hidden{
  stroke-width: 0;
}

path.selected {
  stroke:pink;
}

path.selected:hover{
  stroke: red
}

g.selected circle{
  fill: rgb(251, 214, 4);
}
g.selected:hover circle{
  fill: rgb(214, 251, 4);;
}

circle, 
circle.default, 
circle.completed, 
circle.failed, 
circle.idle, 
circle.running {
  stroke-width:1;stroke:rgb(0,0,0);
  fill:#ededed;
}

circle.completed {
  fill: greenyellow;
}

circle.failed {
  fill: red;
}

circle.idle {
  fill: #eee;
}

circle.running {
  fill: orange;
}

.Blue {
  color: blue;
}

.Chart {
  border: solid 1px #ccc;
  width: auto;
  height: auto;
  /* margin: 12px; */
  /* background-color: blue; */
}

.ToolTip {
  position: absolute;
  display: none;
  min-width: 30px;
  /* height: auto; */
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 2px;
  text-align: center;
}

.editP {
  padding: 4px;
  border: solid 1px rgb(142, 89, 240);
  border-radius: 4px;
  background-color: white;
  font-family: system-ui;
  font-size: 14px;
  width: auto;
  text-align: center;
}