swagger: "2.0"

info:
  title: JAWS (JGI Analysis Workflows Service)
  description: Definition of REST API for JGI Analysis Workflows Service
  version: "2.0"
consumes:
  - application/json
produces:
  - application/json
basePath: /api/v2

securityDefinitions:
  oauth2:
    type: oauth2
    flow: implicit
    authorizationUrl: http://localhost:3000/login
    scopes:
      uid: Registered user with unique ID

security:
  - oauth2: ['user']

paths:

  /status:
    get:
      operationId: jaws_central.utils.status
      summary: Status of JAWS services
      responses:
        200:
          description: OK
        500:
          description: System is down
      security: []

  /info:
    get:
      operationId: jaws_central.utils.info
      summary: Information about JAWS deployment
      responses:
        200:
          description: OK
      security: []

  /auth/{auth_key}:
    get:
      operationId: jaws_central.auth.get_user_token
      tags:
        - user
      summary: Confirm email corresponds to valid JAWS user for JAWS Dashboard
      description: Dashboard can send SSO Hash or User Email Address
      parameters:
        - name: auth_key
          in: path
          description: email or sso hash
          type: string
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist
      security:
        - oauth2: ['dashboard']

  /user:
    get:
      operationId: jaws_central.auth.get_user
      tags:
        - user
      summary: Get user info
      description: Get current user's info
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.

    post:
      operationId: jaws_central.auth.add_user
      tags:
        - user
      summary: Add new user
      description: Create a new user account and generate a JAWS access token
      parameters:
        - name: uid
          in: formData
          description: User ID
          type: string
          required: True
        - name: name
          in: formData
          description: User's full name
          type: string
          required: True
        - name: user_group
          in: formData
          description: The name of the group the user belongs to (at most one).
          type: string
          required: True
        - name: email
          in: formData
          description: User's email address
          type: string
          required: True
        - name: admin
          in: formData
          description: True if user has admin access
          type: boolean
          required: True
      responses:
        201:
          description: New user added
        401:
          description: Access denied
      security:
        - oauth2: ['admin']

  /search:
    post:
      operationId: jaws_central.rest.search_runs
      tags:
        - search
        - runs
      summary: Search Runs
      description: Search is used to return active runs or history
      parameters:
        - name: active_only
          description: Return active runs only
          type: boolean
          in: formData
          required: True
        - name: delta_days
          description: time window to search
          type: integer
          in: formData
          required: True
        - name: site_id
          description: Limit search to a compute-site
          type: string
          in: formData
          required: True
        - name: result
          description: Limit search to this status
          type: string
          in: formData
          required: True
        - name: all
          description: List runs from all users
          type: boolean
          in: formData
          required: False
        - name: verbose
          description: Returns all fields of the run's status
          type: boolean
          in: formData
          required: False
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.

  /run:
    post:
      operationId: jaws_central.rest.submit_run
      consumes:
        - multipart/form-data
      tags:
        - run
      summary: Begin run run process
      description: Returns site information to send infiles.
      parameters:
        - name: compute_site_id
          description: computing site to use
          type: string
          in: formData
          required: True
        - name: input_site_id
          description: ID of the Site where the input data is stored
          type: string
          in: formData
          required: True
        - name: submission_id
          description: UUID used to name input WDL and output dir
          type: string
          in: formData
          required: True
        - name: caching
          description: Whether or not to allow Cromwell call-caching
          type: boolean
          in: formData
          required: False
        - name: max_ram_gb
          description: Maximum RAM required
          type: integer
          in: formData
          required: True
        - name: manifest
          description: List of input files
          type: string
          in: formData
          required: True
        - name: wdl_file
          description: Original WDL infile path
          type: string
          in: formData
          required: True
        - name: json_file
          description: Original JSON infile path
          type: string
          in: formData
          required: True
        - name: tag
          description: User-specified label for the run
          type: string
          in: formData
          required: False
        - name: webhook
          description: User-specified URL for notification of completion
          type: string
          in: formData
          required: False
      responses:
        201:
          description: Successful
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The requested site does not exist

  /run/{run_id}:
    get:
      operationId: jaws_central.rest.run_status
      tags:
        - run
      summary: Retrieve the status of a specified run
      description: Summarize the state of a particular run
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/complete:
    get:
      operationId: jaws_central.rest.run_status_complete
      tags:
        - run
      summary: Retrieve the status of a specified run
      description: Summarize the state of a particular run
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/cancel:
    put:
      operationId: jaws_central.rest.cancel_run
      tags:
        - run
      summary: Cancel a run
      description: Abort the execution of a run
      parameters:
        - name: run_id
          in: path
          type: integer
          required: True
      responses:
        201:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/metadata:
    get:
      operationId: jaws_central.rest.run_metadata
      tags:
        - run
      summary: Retrieve the metadata of a specified run
      description: Return assorted information about a run
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/run_log:
    get:
      operationId: jaws_central.rest.run_log
      tags:
        - run
      summary: Retrieve the run logs of a specified run
      description: Return log of a Run's state transitions
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/task_log:
    get:
      operationId: jaws_central.rest.run_task_log
      tags:
        - run
      summary: Retrieve the task logs of a specified run
      description: Return log of all Tasks' state transitions
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/task_summary:
    get:
      operationId: jaws_central.rest.run_task_summary
      tags:
        - run
      summary: Retrieve the task summary of a specified run
      description: Return summary of all Tasks' durations
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/errors:
    get:
      operationId: jaws_central.rest.run_errors
      tags:
        - run
      summary: Retrieve error messages for a run
      description: Return error messages and stderr for failed tasks
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/running:
    get:
      operationId: jaws_central.rest.run_running_tasks
      tags:
        - run
      summary: Retrieve running tasks report for a run
      description: Return metadata and stdout/stderr file contents for running tasks
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/performance_metrics:
    get:
      operationId: jaws_central.rest.get_performance_metrics
      tags:
        - run
      summary: Retrieve performance metrics for a run
      description: Return performance metrics for a user provided run id
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        403:
          description: Credentials are valid, but not authorized
        500:
          description: Other errors

  /run/{run_id}/outputs:
    get:
      operationId: jaws_central.rest.run_outputs
      tags:
        - run
      summary: Retrieve the outputs of the specified Run.
      description: Return document of all items tagged as outputs in the workflow.
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/outfiles:
    get:
      operationId: jaws_central.rest.run_outfiles
      tags:
        - run
      summary: Retrieve the output files of the specified Run.
      description: Return document of all files tagged as outputs in the workflow.
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/{run_id}/root:
    get:
      operationId: jaws_central.rest.run_workflow_root
      tags:
        - run
      summary: Retrieve the root dir of the Run
      description: Return workflowRoot value from the Cromwell metadata
      parameters:
        - name: run_id
          in: path
          description: run_id of the run to retrieve
          type: integer
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist

  /run/cancel-all:
    put:
      operationId: jaws_central.rest.cancel_all
      tags:
        - run
      summary: Cancel all
      description: Abort the execution of all of the user's runs
      responses:
        201:
          description: OK

  /site:
    get:
      operationId: jaws_central.rest.list_sites
      tags:
        - site
      summary: Retrieve summary of all JAWS-Sites
      description: List all Sites
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.

  /site/{site_id}:
    get:
      operationId: jaws_central.rest.get_site
      tags:
        - site
      summary: Retrieve JAWS-Site info
      description: Return Site parameters
      parameters:
        - name: site_id
          in: path
          description: JAWS-Site ID
          type: string
          required: True
      responses:
        200:
          description: OK
        401:
          description: Authorization information is missing or invalid.
        404:
          description: The specified record does not exist
        503:
          description: The requested Site is currently unavailable
